{{define "content"}}

<div class="container-xl">
  <h1 class="mt-5">Мои посты</h1>
  <div class="row row-cols-md-1">
      {{ range .Posts }}
      <div class="col-auto">
          <div class="card mb-5">
              <div class="col-md-12">
                  <div class="card-header button-del">
                        <a href="/Id/{{ .ID }}" class="card-title fs-2 fw-bold link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">{{ .Title }}</a>
                        <button class="btn btn-danger but-danger" onclick="DelitePost('{{ .ID }}', '{{ $.Username1 }}')">Удалить</button>
                  </div>
              </div>
              <div class="col-md-12">
                  <div class="card-body">
                      <img src="{{ .ImageURL }}" class="card-img-top img-fluid rounded" alt="Image">
                      <p class="card-title formatted-text mt-3">{{ .Anons }}</p>
                      <p class="card-text">Категория: 
                        {{ $categories := .Categorys }}
                        {{ $categoryIDs := .CategoryIDs }}
                        {{ range $index, $catID := $categoryIDs }}
                            <a href="/Categorys/{{ $catID }}">
                                <span class="badge rounded-pill text-bg-primary">{{ index $categories $index }}</span>
                            </a>
                        {{ end }}
                      </p>
                      <div class="card-text">
                          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNL_ZnOTpXSvhf1UaK7beHey2BX42U6solRA&usqp=CAU" alt="Автор" class="rounded-circle" style="width: 40px; height: 40px;">
                          <a href="/Author/{{ .AuthorID }}"><span class="ml-2">{{ .Author }}</span></a>
                          <span class="ml-2"> | </span>
                          <span class="ml-auto">{{ .Date }}</span>
                      </div>
                      <div class="card-text mt-3">
                          <button type="button" id="like-{{ .ID }}" class="btn LikePost btn-primary mr-2" onclick="handleLikeDislike('{{ .ID }}', 'like', '{{ $.Username1 }}')">👍 {{ .Like }}</button>
                          <button type="button" id="dislike-{{ .ID }}" class="btn DislikePost btn-danger mr-2" onclick="handleLikeDislike('{{ .ID }}', 'dislike', '{{ $.Username1 }}')">👎 {{ .DisLike }}</button>
                          <button type="button" onclick="window.location.href = '/Id/{{ .ID }}';" class="btn btn-outline-secondary">{{ .CommentLen }} Комментарии</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      {{ else }}
            <h3 class="mt-5">У вас пока нету постов</h3>
      {{ end }}
  </div>
</div>

<script>
    function DelitePost(postId, Username1) {
        const usernameElement = document.querySelector('.navbar-user[href="/"]');
        const username = usernameElement.textContent.trim();
        if (!username) {
            var toast = new bootstrap.Toast(document.getElementById('copyToast'));
            var texterr = document.getElementById("toastErrText")
            texterr.innerHTML = "Ошибка: пользователь не авторизован"
            toast.show();
            return;
        }
        if (username === Username1) {
            const confirmation = window.confirm("Вы точно хотите удалить этот пост?");
            if (confirmation) {
                fetch('/post-dell', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        name: username,
                        postid: postId
                    })
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Ошибка');
                    }
                    window.location.href = '/My_posts';
                })
                .catch(error => {
                    console.error('Error:', error.message);
                });
            }
        }
    }
</script>
<script src="/web/js/linkAdr.js"></script>
<script src="/web/js/createPostinPage.js"></script>
<script src="/web/js/handleAndUpdateComment.js"></script>
<script src="/web/js/getAndRenderComments.js"></script>
<script src="/web/js/LikeDislike.js"></script>
<script src="/web/js/navbar.js"></script>
<script src="/web/js/modal.js"></script>
<script src="/web/js/createCategoriAndPost.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
{{end}}
    